extends ../common/_content-layout.pug
include ../mixins/_content.pug

block title
  +title('CONTACT')

block sub_title

block main
  .contact
    p ミスター慶應コンテスト2020へのお問い合わせにつきましては、
      span#mail_address keio@mrcontest.jp
      | よりお願い致します。
    .contact_button
      a(href='mailto:keio@mrcontest.jp?subject=Mr.KEIO CONTEST 2020のお問い合わせ')
        button(
          type='button'
          class='btn btn-outline-dark'
        )
          h2.mail 問い合わせる
      button#clip(
        type='button'
        class='btn btn-outline-dark'
        data-clipboard-text='keio@mrcontest.jp'
      )
        h2.mail メールアドレスをコピーする
