#home.Home.container-fluid.content.bg_gray
  .row.no-gutters
    .col
    .logo.col-8.col-sm-9.col-md-10.col-lg-10.col-xl-8
      //- img(src='./assets/logo.png')
      svg(x=0 y=0 viewBox='0 0 200 400')
        polygon(
          points="0 0,0 160, 30 160, 30 80, 100 160, 170 80, 170 160, 200 160, 200 0, 100 120"
          fill="#001e62"
        )
        polygon(
          points="0 190, 0 220, 200 220, 200 190"
          fill='#001e62'
        )
        polygon(
          points="0 250, 0 280, 200 280, 200 250"
          fill='#C63527'
        )
        polygon(
          points="0 310, 0 340, 200 340, 200 310"
          fill='#001e62'
        )
    .col.right
  .count.row.no-gutters
    .col
    .title.col-10.col-sm-10.col-md-11.col-lg-10.col-xl-8
      h2 Mr.KEIO CONTEST 2019
        br
        br
        | 2019年4月20日をもちまして<br>募集を終了いたしました。
      
    .col.right
  .ob.row.no-gutters
    .col
    .col-10.col-sm-10.col-md-10.col-lg-8.col-xl-8
      .row
        .col-3.col-sm-3.col-md-3.col-lg-3.col-xl-3
          img.grey(src="./assets/ob1.png", alt="")
        .col-3.col-sm-3.col-md-3.col-lg-3.col-xl-3
          img.grey(src="./assets/ob2.png", alt="")
        .col-3.col-sm-3.col-md-3.col-lg-3.col-xl-3
          img.grey(src="./assets/ob3.png", alt="")
        .col-3.col-sm-3.col-md-3.col-lg-3.col-xl-3
          img.grey(src="./assets/ob4.png", alt="")
    .col.right
  .ob.row.no-gutters
    .col
    .col-10.col-sm-10.col-md-11.col-lg-10.col-xl-8
      h2 Mr.KEI
        span.red O
    .col.right
  .ob.last.row.no-gutters
    .col
    .col-10.col-sm-10.col-md-11.col-lg-8.col-xl-8
      .row
        .col-3.col-sm-3.col-md-3.col-lg-3.col-xl-3
          img.grey(src="./assets/ob5.png", alt="")
        .col-3.col-sm-3.col-md-3.col-lg-3.col-xl-3
          img.grey(src="./assets/ob6.png", alt="")
        .col-3.col-sm-3.col-md-3.col-lg-3.col-xl-3
          img.grey(src="./assets/ob7.png", alt="")
        .col-3.col-sm-3.col-md-3.col-lg-3.col-xl-3
          img.grey(src="./assets/ob8.png", alt="")
    .col.right
