extends ../common/_content-layout.pug
include ../mixins/_content.pug

block title
  +title('RECRUIT')

block sub_title
  #recruit_strong
    +sub_title('運営メンバー募集中！')

block main
  .recruit
    p 生まれたてのチーム、ばらばらな個性と能力。
    p 私たちが信じている『挑戦に自由を。』というテーマはコンテストをつくりあげるメンバーにもあてはまると思っています。
    p 2020年、これまでにないコンテストをつくるためにはあなたの大胆な発想やワクワクするアイデアが必要です。
    p 「他の活動との両立が不安」「なんとなく興味がある」大歓迎です。お互いがハッピーになれる関係を探しましょう。
    p ミスター慶應コンテスト2020を私たちと一緒につくりませんか？
    .contact_button
      a(
        href='https://docs.google.com/forms/d/1yqhGyhyyxm7miUvnZnMHXTNyGkTyL_YCtn4zhUmjH9E'
        target='_blank'
        rel="noopener"
      )
        button(
          type='button'
          class='btn btn-outline-dark'
        )
          h2 話を聞いてみる
