include ../candidates/data.pug
mixin body (num)
  header
    a(href='../vote.html')
      #logo
        svg(x=0 y=0 viewBox='0 0 200 360')
          polygon(
            points="0 0,0 160, 30 160, 30 80, 100 160, 170 80, 170 160, 200 160, 200 0, 100 120"
            fill="#C63527"
          )
          polygon(
            points="0 190, 0 220, 200 220, 200 190"
            fill='#C63527'
          )
          polygon(
            points="0 250, 0 280, 200 280, 200 250"
            fill='#001e62'
          )
          polygon(
            points="0 310, 0 340, 200 340, 200 310"
            fill='#C63527'
          )
      p Mr.KEIO CONTEST 2020
  main.container-fluid.no-gutters
    article.row
      .top.col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
        h2.gray
          span |
          | Entry No.#{num}
        img(src=`../assets/candidates/profiles/0${num}.jpg`, alt="")
      .info.col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
        .shares.row.no-gutters
          .col
          //- .sns.col-6.col-sm-6.col-md-6.col-lg-6.col-xl-6
          .sns.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
            .container-fluid
              .row.no-gutters
                .links.twitter.col-6.col-sm-6.col-md-6.col-lg-6.col-xl-6
                  a(href=`http://twitter.com/mrkeio2020_no${num}` target='_blank')
                    img(src='../assets/twitter_Logo.png', alt="")
                .links.instagram.col-6.col-sm-6.col-md-6.col-lg-6.col-xl-6
                  a(href=`http://instagram.com/mrkeio2020_no${num}` target='_blank')
                    img(src='../assets/instagram_logo.png', alt="")
          //- .vote.col-6.col-sm-6.col-md-6.col-lg-6.col-xl-6
            #vote_button
              //- button(type="button" class="btn btn-primary")
                p 投票
        //- .aboutMe.row.no-gutters
          .info.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
            table
              - for (var j = 0; j < candidates[num-1].aboutMe.length; j++)
                tr
                  td.tar.ex_small.col-5.col-sm-5.col-md-5.col-lg-6.col-xl-6 #{candidates[num-1].aboutMe[j].split('：')[0]}
                  td.ex_small.col-7.col-sm-7.col-md-7.col-lg-6.col-xl-6 #{candidates[num-1].aboutMe[j].split('：')[1]}
      .contents.row
          - for (var i = 0; i < 4; i++)
            .content.col-12.col-sm-12.col-md-12.col-lg-6.col-xl-3
              img(src=`../assets/candidates/contents/no${num}/${i+1}.jpg`, alt="")
  script(src='../js/index.bundle.js')


mixin head (num)
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-136780255-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-136780255-1');

    head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# website: http://ogp.me/ns/website#')
    meta(property='og:url' content='https://keio.mrcontest.jp')
    meta(property='og:type' content='website') 
    meta(property='og:title' content=`Mr.KEIO CONTEST 2020 Entry No.${num} ${candidates[num-1].ja}`)
    meta(property='og:description' content=`Mr.KEIO CONTEST 2020 Entry No.${num}。2020年7月25日から投票を開始します`)
    meta(property='og:site_name' content='Mr.KEIO CONTEST 2020')
    meta(property='og:image' content=`https://keio.mrcontest.jp/assets/candidates/profiles/0${num}.jpg`)

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mr.KEIO (ミスター慶應) 2020 | エントリーNo.#{num} #{candidates[num-1].ja}
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='../candidate.css')
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
