include ./candidates/data.pug
doctype
html(lang="en")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-136780255-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-136780255-1');

    meta(charset='utf-8')
    meta(name='description' content='投票にあたって。有効投票の説明や注意点を掲載しています。')

    head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# website: http://ogp.me/ns/website#')
    meta(property='og:url' content='https://keio.mrcontest.jp')
    meta(property='og:type' content='website') 
    meta(property='og:title' content='Mr.KEIO CONTEST 2020 ｜ 投票にあたって')
    meta(property='og:description' content='Mr.KEIO CONTEST 2020 ｜ 投票にあたって')
    meta(property='og:site_name' content='Mr.KEIO CONTEST 2020　｜ 投票にあたって')
    meta(property='og:image' content='https://keio.mrcontest.jp/assets/logo.png')

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mr.KEIO (ミスター慶應) 2020 | ファイナリスト
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='./attentions.css')
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js")
  body
    header
      #logo
        svg(x=0 y=0 viewBox='0 0 200 360')
          polygon(
            points="0 0,0 160, 30 160, 30 80, 100 160, 170 80, 170 160, 200 160, 200 0, 100 120"
            fill="#001e62"
          )
          polygon(
            points="0 190, 0 220, 200 220, 200 190"
            fill='#C63527'
          )
          polygon(
            points="0 250, 0 280, 200 280, 200 250"
            fill='#001e62'
          )
          polygon(
            points="0 310, 0 340, 200 340, 200 310"
            fill='#C63527'
          )
      p Mr.KEIO CONTEST 2020
    // 最終選考者リスト
    main.container.attentions
      h1(style='margin-top: 50px') 投票にあたって
      p Mr.Keio Contest 2020では公正な投票を執り行うことを第一に活動しています。これに伴い有効投票を以下のように定めています。
      ul
        li 各WEBブラウザ（Google Chrome、 Mozilla Firefox、 Apple Safari、 Microsoft Edge、 Vivaldi）の最新バージョン以外の投票は動作の保証を致しかねます。これらのWEBブラウザ以外でも投票可能なものはあり、正常に動作すれば投票は可能ですのでそこまで神経質になる必要はありません。ここ最近の端末で使用しているWEBブラウザでしたら大抵は動作致します。
        li 投票はひとつのWEBブラウザにつき、１日１回までです。ここでの１日は日本標準時を基準にしています。
        li 同一のWEBブラウザから投票した総数が１票のみの場合は有効投票には含めません。同じ端末のWEBブラウザから２票以上投票したものを統計に含めます。つまり、WEBブラウザのシークレットモードを用いて投票したり、WEBブラウザの履歴を消去して再度投票したとしても、有効投票とはなりません。
        li 同一の端末内で複数のWEBブラウザアプリを用いて投票することは可能です。先述した通り、この場合でも各ブラウザで２票以上投票しなければ有効票とはなりませんのでご注意ください。
    
      p また、投票を行うに当たって以下の同意を必要とします。
      ul
        li WEBブラウザの標準機能であるCookieを用います。この際、いかなる場合でも個人を特定することは致しませんのでご安心ください。
        li 故意的に投票サーバーに負荷をかける行為をはじめとした迷惑行為を行わないでください。最悪の場合は法的措置を取る場合があります。 
        li 投票の修正は致しかねます。


      
