include ./candidates/data.pug
doctype
html(lang="en")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-136780255-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-136780255-1');

    meta(charset='utf-8')
    meta(name='description' content='Mr.KEIO CONTEST 2020（ミスター慶應コンテスト）のファイナリスト一覧。2020年度の慶應義塾大学の学生の中から、一番のミスターが決定します！投票開始は2020年7月1日。')

    head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# website: http://ogp.me/ns/website#')
    meta(property='og:url' content='https://keio.mrcontest.jp')
    meta(property='og:type' content='website') 
    meta(property='og:title' content='Mr.KEIO CONTEST 2020 ファイナリスト一覧')
    meta(property='og:description' content='Mr.KEIO CONTEST 2020 ファイナリスト一覧。2020年7月1日から投票を開始します')
    meta(property='og:site_name' content='Mr.KEIO CONTEST 2020')
    meta(property='og:image' content='https://keio.mrcontest.jp/assets/logo.png')

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mr.KEIO (ミスター慶應) 2020 | ファイナリスト
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='./vote.css')
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js")
  body
    header
      #logo
        svg(x=0 y=0 viewBox='0 0 200 360')
          polygon(
            points="0 0,0 160, 30 160, 30 80, 100 160, 170 80, 170 160, 200 160, 200 0, 100 120"
            fill="#001e62"
          )
          polygon(
            points="0 190, 0 220, 200 220, 200 190"
            fill='#001e62'
          )
          polygon(
            points="0 250, 0 280, 200 280, 200 250"
            fill='#C63527'
          )
          polygon(
            points="0 310, 0 340, 200 340, 200 310"
            fill='#001e62'
          )
      p Mr.KEIO CONTEST 2020
    // 最終選考者リスト
    main.container
      ul#candidates.row
        - for (var i = 0; i < 6; i++)
          a(href=`./candidates/no${i+1}.html`).col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
            li
              img(
                src=`./assets/candidates/profiles/no${i+1}.jpg`
                alt='face'
              )
              h1.gray.no_margin.tu #{candidates[i].ja}
              h2.gray #{candidates[i].en}
