nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  a.navbar-brand(href='#')
    p.d-md-none Mr.Keio Contest 2020
  button.navbar-toggler(
    type='button'
    data-toggle='collapse'
    data-target='#navbarSupportedContent'
    aria-controls='navbarSupportedContent'
    aria-expanded='false'
    aria-label='Toggle navigation'
  )
    span.navbar-toggler-icon

  div.collapse.navbar-collapse.links#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='#home') 
          p HOME
      li.nav-item
        a.nav-link(href='#qualification')
          p Qualification
      //- li.nav-item
      //-   a.nav-link(href='#apply')
      //-     p APPLY
      li.nav-item
        a.nav-link(href='#vision')
          p VISION
      li.nav-item
        a.nav-link(href='#recruit')
          p RECRUIT
      li.nav-item
        a.nav-link(href='#contact')
          p CONTACT

.social_icons
  p シェア
  .icon.twitter
    a(
      href='https://twitter.com/intent/tweet?url=https://keio.mrcontest.jp&text=Mr.KEIO CONTEST 2020ファイナリスト募集中！&hashtags=mrkeio2020'
      target='_blank'
      rel="noopener"
      aria-label='share on twitter'
    )
      img(src='./assets/twitter_Logo.png' alt='')
  .icon.facebook
    a(
      href='https://www.facebook.com/sharer/sharer.php?u=https://keio.mrcontest.jp'
      target='_blank'
      rel="noopener"
      aria-label='share on facebook'
    )
      img(src='./assets/facebook_logo.svg' alt='')
  .icon.line
    a(
      href='http://line.me/R/msg/text/?Mr.KEIO CONTEST 2020ファイナリスト募集中！\nhttps://keio.mrcontest.jp'
      target='_blank'
      rel="noopener"
      aria-label='share on line'
    )
      img(src='./assets/line_icon.png' alt='')
