nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  a.navbar-brand(href='#')
    //- img.d-inline-block.align-top(src='./assets/logo.png')
  button.navbar-toggler(
    type='button'
    data-toggle='collapse'
    data-target='#navbarSupportedContent'
    aria-controls='navbarSupportedContent'
    aria-expanded='false'
    aria-label='Toggle navigation'
  )
    span.navbar-toggler-icon

  div.collapse.navbar-collapse.links#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='#') 
          p HOME
      li.nav-item
        a.nav-link(href='#')
          p VISION
      li.nav-item
        a.nav-link(href='#')
          p ABOUT
      li.nav-item
        a.nav-link(href='#')
          p APPLY
      li.nav-item
        a.nav-link(href='#')
          p RECRUIT
      li.nav-item
        a.nav-link(href='#')
          p CONTACT

    //- .social_icons
      .icon.twitter_icon
        a(href='twitter://post?message=Mr.KEIO CONTEST HP')
          img(src='./assets/twitter_logo.svg')
      .icon.facebook_icon
        a(href='#')
          img(src='./assets/facebook_logo.svg')
      .icon.line_icon
        a(href='#')
          img(src='./assets/line_icon.png')
