nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  a.navbar-brand(href='#')
    p.d-md-none Mr.KEIO CONTEST 2019
  button.navbar-toggler(
    type='button'
    data-toggle='collapse'
    data-target='#navbarSupportedContent'
    aria-controls='navbarSupportedContent'
    aria-expanded='false'
    aria-label='Toggle navigation'
  )
    span.navbar-toggler-icon

  div.collapse.navbar-collapse.links#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='#home') 
          p HOME
      li.nav-item
        a.nav-link(href='#about')
          p ABOUT
      li.nav-item
        a.nav-link(href='#apply')
          p APPLY
      li.nav-item
        a.nav-link(href='#vision')
          p VISION
      li.nav-item
        a.nav-link(href='#recruit')
          p RECRUIT
      li.nav-item
        a.nav-link(href='#contact')
          p CONTACT

.social_icons
  p シェア
  .icon.twitter
    //- a(href='twitter://post?message=Mr.KEIO CONTEST HP')
    a(
      href='https://twitter.com/intent/tweet?url=keio.mrcontest.jp&text=Mr.KEIO CONTEST 2019ファイナリスト募集中！&hashtags=mrkeio2019'
      target='_blank'
    )
      img(src='./assets/twitter_Logo.png')
  .icon.facebook
    a(
      href='https://www.facebook.com/sharer/sharer.php?u=https://keio.mrcontest.jp'
      target='_blank'
    )
      img(src='./assets/facebook_logo.svg')
  .icon.line
    a(
      href='http://line.me/R/msg/text/?Mr.KEIO CONTEST 2019ファイナリスト募集中！'
      target='_blank'
    )
      img(src='./assets/line_icon.png')
